{% extends "leaderboard/page.html" %}

{% block title %}{{ competition.name }}Competitions{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-10">
      <h1>{{ competition.name }} Competition Leaderboard</h1>
    </div>
    <div class="col-md-2">
      <a href="/competition/{{ competition.name }}/submit/" class="btn btn-info" style="margin-top:25px">Make a Submission</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h4>Competition Description and Information</h4>
      <p>{{ competition.description }}</p>
    </div>
  </div>

  <table class="table table-striped">
  <thead>
  <tr>
    <th>Rank</th>
    <th>Team</th>
    <th>Score</th>
    <th>Best Submission Time</th>
    <th>Number of Submissions</th>
  </tr>
  </thead>
  <tbody>
  {% for score, team, submission in paired_scores %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ team.name }}</td>
      <td>{{ score }}</td>
      <td>{{ submission.submission_time }}</td>
      <td>{{ team.submission_set.count }}</td>
    </tr>
  {% endfor %}
  {% for t in no_submission_teams %}
    <tr class="danger">
      <td></td>
      <td>{{ t.name }}</td>
      <td>-</td>
      <td>-</td>
      <td>0</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>

{% endblock %}
