{% extends "leaderboard/page.html" %}

{% block title %}{{ competition.name }}Competitions{% endblock %}

{% block content %}

  <h1>{{ competition.name }} Competition Leaderboard</h1>
  <table class="table table-striped">
  <thead>
  <tr>
    <th>Rank</th>
    <th>Team</th>
    <th>Score</th>
  </tr>
  </thead>
  <tbody>
  {% for score, team in paired_scores %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ team.name }}</td>
      <td>{{ score }}</td>
    </tr>
  {% endfor %}
  {% for t in no_submission_teams %}
    <tr class="danger">
      <td></td>
      <td>{{ t.name }}</td>
      <td>No Submissions</td>
    </tr>
  {% endfor %}
  </tbody>
  </table>

{% endblock %}
