{% extends "leaderboard/page.html" %}

{% block title %}Register{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
  <p>You are already logged in!</p>
  {% else %}
  <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    {{ user_form.non_field_errors }}
    <div class="form-group">
      <label for="{{ user_form.email.id_for_label }}">Email address</label>
      <input name="email" type="email" class="form-control" id="{{ user_form.email.id_for_label }}" placeholder="Email">
      {{ user_form.email.errors }}
    </div>
    <div class="form-group">
      <label for="{{ user_form.name.id_for_label }}">Username</label>
      <input name="username" type="text" class="form-control" id="{{ user_form.username.id_for_label }}" placeholder="Username">
      {{ user_form.username.errors }}
    </div>
    <div class="form-group">
      <label for="{{ profile_form.first_name.id_for_label }}">First Name</label>
      <input name="first_name" type="text" class="form-control" id="{{ profile_form.first_name.id_for_label }}" placeholder="First Name">
      {{ profile_form.first_name.errors }}
    </div>
    <div class="form-group">
      <label for="{{ profile_form.last_name.id_for_label }}">Last Name</label>
      <input name="last_name" type="text" class="form-control" id="{{ profile_form.last_name.id_for_label }}" placeholder="Last Name">
      {{ profile_form.last_name.errors }}
    </div>
    <div class="form-group">
      <label for="{{ profile_form.student_id.id_for_label }}">Student ID</label>
      <input name="student_id" type="text" class="form-control" id="{{ profile_form.student_id.id_for_label }}" placeholder="Student ID">
      {{ profile_form.student_id.errors }}
    </div>
    <div class="form-group">
      <label for="{{ user_form.password1.id_for_label }}">Password</label>
      <input name="password1" type="password" class="form-control" id="{{ user_form.password1.id_for_label }}" placeholder="Password">
      {{ user_form.password1.errors }}
    </div>
    <div class="form-group">
      <label for="{{ user_form.password2.id_for_label }}">Confirm Password</label>
      <input name="password2" type="password" class="form-control" id="{{ user_form.password2.id_for_label }}" placeholder="Password">
      {{ user_form.password2.errors }}
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
  {% endif %}
{% endblock %}